<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="fa-duotone fa-mobile-screen"></i>
        </div>
        <div class="social-media">som</div>
    </div>
</div>
<header>
    <div class="container">
        <div class="content">
            <h1>Bem vindo a <span style="color: #ffa200;">Brot</span></h1>
            <h2>A panificadora alemã <i class="fa-solid fa-heart"></i></h2>
        </div>
    </div>
</header>