section.menu {
    background-color: #1a1814;
    height: 100%;

    .title-section {
        padding-top: 70px;
        padding-bottom: 70px;

        h2 {
            font-size: 14px;
            font-weight: 500;
            padding: 0;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #aaaaaa;
        }

        p {
            margin: 0;
            font-size: 36px;
            font-weight: 700;
            color: #cda45e;
        }
    }

    #menu-flters {
        display: flex;
        list-style: none;
        padding: 0;

        li {
            // padding: 0 20px;
            cursor: pointer;
            padding: 8px 20px 10px 20px;
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            margin-bottom: 10;
        }
    }

    div.items {
        margin-top: 40px;

        div.item {
            animation: lightSpeedInLeft;
            animation-duration: 1s;
            margin-bottom: 40px;

            .content {
                border: 2px solid wheat;
                border-radius: 20px;
                padding: 25px;
                display: flex;

                .image {
                    padding-right: 20px;

                    img {
                        padding: 0.15rem;
                        border: 0.5px solid #dee2e6;
                    }
                }

                .content-info {
                    .price {
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        overflow: hidden;

                        a {
                            background: #1a1814;
                            position: relative;
                            z-index: 3;
                            font-weight: 500;
                            transition: 0.3s;
                            padding-right: 10px;
                            font-size: 17px;
                        }

                        span {
                            background: #1a1814;
                            position: relative;
                            z-index: 3;
                            padding: 0 10px;
                            font-weight: 600;
                            color: #cda45e;
                        }
                    }

                    .price::after {
                        content: "......................................................................""....................................................................""....................................................................";
                        position: absolute;
                        left: 20px;
                        right: 0;
                        top: -4px;
                        z-index: 1;
                        color: #bab3a6;
                        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    }

                    .ingredients {
                        font-style: italic;
                        font-size: 13px;
                        color: #d8d8d8;
                        padding: 0;
                    }
                }

            }
        }

        .modal {
            .modal-header {
                h5 {
                    color: #000000;
                    font-weight: 600;
                    text-shadow: 4px 3px 5px #444444;
                }
            }
            .modal-body{
                p{
                    color: #3d3d3d;
                    letter-spacing: 1px;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }
}